div{
    width:50px;
    height: 50px;
    cursor: pointer;
}
#red{
     background-color: rgb(255, 0, 0);
}
#green{
     background-color: rgb(0, 255, 51);
}
#black{
     background-color: rgb(0, 0, 0);
}
#blue{
     background-color: blue;
}